# ignoring the original dataset images folders
1_OriginalDataset_FashionProductImagesSmall/images
1_OriginalDataset_FashionProductImagesSmall/images.zip

# ignoring the male dataset images folders
2_SeparatingMaleDataset/maleDS
2_SeparatingMaleDataset/maleDS.zip