# ignoring the original dataset images folders
1_OriginalDataset_FashionProductImagesSmall/images
1_OriginalDataset_FashionProductImagesSmall/images.zip

# ignoring the male dataset images folders
2_SeparatingMaleDataset/maleDS
2_SeparatingMaleDataset/maleDS.zip

# ignoring the separate img folders for each articleType and usage label
3_PreprocessingMaleDS/articleTypes/
3_PreprocessingMaleDS/reduced_articleTypes/
3_PreprocessingMaleDS/usage/
3_PreprocessingMaleDS/finalDS/
3_PreprocessingMaleDS/finalDS_categories/
3_PreprocessingMaleDS/df_images.npy
3_PreprocessingMaleDS/df_usageEncoded.npy
3_PreprocessingMaleDS/df_articleTypeEncoded.npy


# ignoring the saved images np array, model file
5_CausualFormalPredUsingANN/.ipynb_checkpoints/
5_CausualFormalPredUsingANN/tensorboard_cifar_logs/
5_CausualFormalPredUsingANN/ANN_2Hidden.h5

testImages/
tasks.txt

5_CausualFormalPredUsingANN/casualShirt.jpg
5_CausualFormalPredUsingANN/formalShirt.jpg
5_CausualFormalPredUsingANN/formalShirt2.jpg

7_FlaskApp/__pycache__/
7_FlaskApp/tensorboard_cifar_logs/
7_FlaskApp/ANN_2Hidden.h5
7_FlaskApp/uploads/
7_FlaskApp/uploads2/
7_FlaskApp/cnn_usage.h5
7_FlaskApp/cnn_articleType.h5

8_CasualFormalPredUsingCNN/cnn_usage.h5
8_CasualFormalPredUsingCNN/cnn_articleType.h5