# ignoring the original dataset images folders
1_OriginalDataset_FashionProductImagesSmall/images
1_OriginalDataset_FashionProductImagesSmall/images.zip

# ignoring the male dataset images folders
2_SeparatingMaleDataset/maleDS
2_SeparatingMaleDataset/maleDS.zip

# ignoring the separate img folders for each usage label
2_SeparatingMaleDataset/Formal/ 
2_SeparatingMaleDataset/Party/
2_SeparatingMaleDataset/Smart Casual/
2_SeparatingMaleDataset/Ethnic/
2_SeparatingMaleDataset/Home/
2_SeparatingMaleDataset/Casual/
2_SeparatingMaleDataset/Sports/
2_SeparatingMaleDataset/Travel/

# ignoring the saved images np array, model file
4_CausualFormalPredUsingANN/casualFormalImgsNpArr.npy
4_CausualFormalPredUsingANN/encodedUsageFormalCasual.csv
4_CausualFormalPredUsingANN/ANN_2Hidden.h5