<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <h1 class="myh1">Dashboard</h1>
    
    <div class="image-dashboard">
        {% for image in images %}
        <div class="image-item">
            <img src="{{ url_for('uploaded_file', filename=image[0]) }}" alt="Image">
            <p class="image-label">Label: {{ image[1] }}</p>
        </div>
        {% endfor %}
    </div>
    
    <!-- {% include 'footer.html' %} -->

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
