<!DOCTYPE html>
<html>
<head>
    <title>Capture Dress</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="upload-container">
        <label for="file-upload" class="upload-btn">Choose an Image</label>
        <input type="file" name="file" id="file-upload" accept="image/*">

        <button class="camera-btn" id="camera-button">Capture from Camera</button>
    </div>


     <div class="image-preview-container">
        <img src="#" id="preview-image" alt="Preview">
    </div>
    
    <button class="predict-btn" id="predict-button" disabled>Predict</button>
    <button class="store-btn" id="store-button">Store Image</button>
    <div id="result"></div>

    <!-- {% include 'footer.html' %} -->

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
