body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

.myh1 {
    font-size: 40px;
    font-weight: 600;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

a:link, a:visited {
    background-color: #646060;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-left: 3px;
  }
  
a:hover, a:active {
    background-color: rgba(255, 255, 255, 0.532);
}

.upload-container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#preview-image {
    max-width: 200px;
    max-height: 200px;
    margin: 20px auto;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

label.upload-btn, .camera-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

label.upload-btn:hover, .camera-btn:hover {
    background-color: #45a049;
}

.camera-btn {
    border: none;
    font-size: 16px;
}

.predict-btn, .store-btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.predict-btn:hover, .store-btn:hover {
    background-color: #007A99;
}

/* Header styles */
header {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand h1 {
    margin: 0;
}

.navbar-buttons {
    display: flex;
}

.login-btn,
.signup-btn {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.login-btn {
    background-color: #007bff; /* Blue color for login button */
}

.signup-btn {
    background-color: #28a745; /* Green color for signup button */
}


/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

p {
    margin: 0;
}
